<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="crud-usuario" *ngIf="usuario.tipo_usuario=='administrador'">
        <ion-icon name="people-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="crud-asignatura" *ngIf="usuario.tipo_usuario=='administrador'">
        <ion-icon name="bookmarks-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="clases" *ngIf="usuario.tipo_usuario=='docente'">
        <ion-icon name="albums-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="poke-info" *ngIf="usuario.tipo_usuario=='alumno'">
        <ion-icon name="game-controller-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="alumno" *ngIf="usuario.tipo_usuario=='alumno'">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="qr-code" *ngIf="usuario.tipo_usuario=='docente'">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
