<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="crud-usuario" *ngIf="usuario.tipo_usuario=='administrador'">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="crud-asignatura" *ngIf="usuario.tipo_usuario=='administrador'">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="clases">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="docente" *ngIf="usuario.tipo_usuario=='docente'">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="alumno" *ngIf="usuario.tipo_usuario=='alumno'">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="qr-code" *ngIf="usuario.tipo_usuario=='alumno'">
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
